<launch>

  <!-- Launch node through valgrind/gdb. -->
  <arg name="debug" default="false"/>

  <!-- The input topic. -->
  <arg name="topic_in" default="/scan"/>

  <!-- A config file for the laser odometry node. -->
  <arg name="node_config_file" default="$(find laser_odometry_node)/config/laser_odometry_node_default.yaml"/>

  <!-- A config file for the laser odometry plugin. -->
  <!--<arg name="plugin_config_file" default="$(find laser_odometry_csm)/config/laser_odometry_rf2o_default.yaml"/>-->

  <include file="$(find laser_odometry_node)/launch/laser_odometry.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="laser_odometry_type" value="laser_odometry::LaserOdometryCsm"/>
    <arg name="node_config_file" value="$(arg node_config_file)"/>
    <arg name="topic_in" value="$(arg topic_in)" />
  </include>

</launch>
